body{
    margin:20px;
    background-color:lightgray;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding:10px;
    font-family: 'Asul', sans-serif;
    
}
.container{
    background:white;
    padding:10px;
}
img{
    height:150px;
    margin:3px;
    border-radius:50%;
}

h3 {
    background-color:blueviolet;
    color:white;
    padding:5px;
    border-radius:5px;
}

table, th,td {
    border:1px solid black;
    text-align:center;
    table-layout:auto;
}
table{
    border-collapse:collapse;
    table-layout:fixed;
    width:100%;
}
th{
    background-color:blueviolet;
    color:white;
}
#company{
    font-weight:bold;
    width:400px;
    padding:5px;
    border-radius: 5px;
    
}
.personal-info{
    background-color: blueviolet;
    display:flex;
    justify-content: space-between;
}
.personal-info>div{
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;


}
.divider{
    border-bottom:2px solid blueviolet;
    padding:1rem;
}